In [ ]:
import pandas as pd

In [ ]:
clean_data = pd.read_csv('/content/data_clean/data_clean.csv')

In [ ]:
processed_data = pd.get_dummies(clean_data, columns=['Fuel_Type', 'Transmission'])
processed_data.to_csv('/content/results/data_encoded.csv', index=False)

In [ ]:
processed_data.head(40)

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,NaN,12.50,True,False,False,False,True
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,False,False,True,False,True
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,NaN,6.00,True,False,False,False,True
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,NaN,17.74,True,False,False,True,False
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,NaN,3.50,True,False,False,False,True
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755.0,171.50,8.0,21.00,17.50,True,False,False,True,False
6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,First,20.54,1598.0,103.60,5.0,NaN,5.20,True,False,False,False,True
7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Second,22.30,1248.0,74.00,5.0,NaN,1.95,True,False,False,False,True
8,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462.0,103.25,5.0,10.65,9.95,False,False,True,False,True
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,First,16.80,1497.0,116.30,5.0,NaN,4.49,False,False,True,True,False
10,Maruti Swift VDI BSIV,Jaipur,2015,64424,First,25.20,1248.0,74.00,5.0,NaN,5.60,True,False,False,False,True
11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,First,12.70,2179.0,187.70,5.0,NaN,27.00,True,False,False,True,False
12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Second,0.00,2179.0,115.00,5.0,NaN,17.50,True,False,False,True,False
13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.50,2477.0,175.56,7.0,32.01,15.00,True,False,False,False,True
14,Honda Amaze S i-Dtech,Kochi,2016,58950,First,25.80,1498.0,98.60,5.0,NaN,5.40,True,False,False,False,True
15,Maruti Swift DDiS VDI,Jaipur,2017,25000,First,28.40,1248.0,74.00,5.0,NaN,5.99,True,False,False,False,True
16,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,First,20.45,1461.0,83.80,5.0,NaN,6.34,True,False,False,False,True
17,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,First,14.84,2143.0,167.62,5.0,NaN,28.00,True,False,False,True,False
18,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995.0,190.00,5.0,47.87,18.55,True,False,False,True,False
19,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Second,23.65,1248.0,88.50,5.0,NaN,8.25,True,False,False,False,True
20,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,First,13.53,1984.0,177.01,5.0,NaN,23.50,False,False,True,True,False
21,Hyundai i20 1.2 Magna,Kolkata,2010,45807,First,18.50,1197.0,80.00,5.0,NaN,1.87,False,False,True,False,True
22,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,First,14.40,1598.0,103.60,5.0,NaN,2.85,False,False,True,True,False
23,Honda City Corporate Edition,Mumbai,2012,51920,First,16.80,1497.0,116.30,5.0,NaN,4.25,False,False,True,False,True
24,Nissan Micra Diesel XV,Hyderabad,2012,54000,First,16.48,1461.0,63.10,5.0,NaN,4.25,True,False,False,False,True
25,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Second,20.92,998.0,67.10,5.0,NaN,2.75,False,False,True,False,True
26,Honda WRV i-VTEC VX,Kochi,2018,37430,First,17.50,1199.0,88.70,5.0,10.57,9.90,False,False,True,False,True
27,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Fourth & Above,12.80,2494.0,102.00,7.0,NaN,4.00,True,False,False,False,True
28,Renault Duster 110PS Diesel RxZ Pack,Bangalore,2013,62000,First,19.01,1461.0,108.45,5.0,NaN,7.75,True,False,False,False,True
29,Toyota Corolla Altis G,Delhi,2012,87615,First,14.53,1798.0,138.10,5.0,NaN,6.75,False,False,True,False,True
30,Mahindra Ssangyong Rexton RX7,Bangalore,2013,72000,Second,11.18,2696.0,184.00,7.0,NaN,12.50,True,False,False,True,False
31,Audi A6 2.7 TDI,Kolkata,2010,35000,First,12.40,2698.0,179.50,5.0,NaN,11.50,True,False,False,True,False
32,Volkswagen Vento 1.6 Highline,Coimbatore,2014,55431,Second,16.09,1598.0,103.50,5.0,12.33,6.98,False,False,True,False,True
33,Maruti Wagon R LXI BSIII,Jaipur,2009,83816,Second,14.00,1061.0,64.00,5.0,NaN,1.85,False,False,True,False,True
34,Maruti Vitara Brezza ZDi Plus,Kochi,2018,50075,First,24.30,1248.0,88.50,5.0,11.12,8.63,True,False,False,False,True
35,Mahindra KUV 100 mFALCON G80 K6 5str AW,Delhi,2017,52000,First,18.15,1198.0,82.00,5.0,NaN,4.85,False,False,True,False,True
36,Mercedes-Benz M-Class ML 350 CDI,Pune,2013,85000,First,11.74,2987.0,254.80,5.0,NaN,28.00,True,False,False,True,False
37,Volkswagen Polo Diesel Trendline 1.2L,Chennai,2013,62000,First,22.07,1199.0,73.90,5.0,NaN,5.00,True,False,False,False,True
38,Maruti Alto LXi,Delhi,2008,90000,Second,19.70,796.0,46.30,5.0,NaN,1.25,False,False,True,False,True
39,Tata Nano LX SE,Kochi,2014,19698,First,25.40,624.0,37.50,4.0,NaN,1.53,False,False,True,False,True